body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
    transform: scale(1.1);
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    opacity: 0;
    transition: opacity 0.5s ease;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent.active {
    opacity: 1;
}

#cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cartes img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#cartes img.loaded {
    opacity: 1;
    transform: translateY(0);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

pre {
    text-align: left;
}
